.line{
width:50%;
height:1px;
position:absolute;
top:6vh;
left:8vh;
background:black;
}

.line2{
width:1px;
height:50%;
position:absolute;
top:6vh;
left:8vh;
background:black;
}

.line3{
width:50%;
height:1px;
position:absolute;
bottom:6vh;
right:8vh;
background:black;
}

.line4{
width:1px;
height:50%;
position:absolute;
bottom:6vh;
right:8vh;
background:black;
}

