<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">

</head>

<body>


<div  class="first">

<div style="position:relative; z-index:1;" class="intro">
<h2 class="intronames" >Hi, I'm Rose</h2>
<h1 class="intronames" >A web developer</h1>
<h2 class="intronames">UI/UX Designer</h2>

    </div>


<div style="overflow:hidden;">
<div id="one" class="line"></div>
<div id="two" class="line2"></div>
<div id="three" class="line4"></div>
<div id="four" class="line3"></div>
    </div>
</div>



<div class="second">
    <div class="container">
        <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-10 code">
        <div class="aligner_code">
            <a style="display:flex;">
        <h4 style="font-size:7vh;color:black;">CODE</h4>
        </a>
        </div>



        <div align="center" id="skill_two" class="skill_box">
            <div align="center" class="container">
                <div class="row">
                    <div class="col">
                        <img src="static/images/python.png">
                    </div>
                    <div class="col">
                        <img src="static/images/bootstrap.png">
                    </div>
                    <div class="col">
                        <img src="static/images/html.png">
                    </div>
                    <div class="col">
                        <img src="static/images/js.png">
                    </div>
                    <div class="col">
                        <img src="static/images/flask.png">
                    </div>
                    <div class="col">
                        <img src="static/images/css.png">
                    </div>
                    <div class="col-6">
                        <img src="static/images/react.png">
                    </div>
                </div>
            </div>
        </div>

        </div>

    <div class="col-lg-6 col-md-10 col-sm-10 designs">
            <div class="aligner_design">
                <a style="display:flex;font-size:7vh;font-weight:0;">DESIGN</a>
            </div>
        <br>

            <div align="center" id="skill" class="skill_box">
                <div align="center" style="margin:auto;" class="container">
                <div class="row">
                    <div class="col">
                        <img src="static/images/figma.png">
                    </div>
                    <div class="col">
                        <img src="static/images/ps.png">
                    </div>
                    <div class="col">
                        <img src="static/images/krita.png">
                    </div>
                    <div class="col">
                        <img src="static/images/is.png">
                    </div>

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
<br>


<p align="center" style="color:white;" class="julius">Design</p>
<div class="items">
<div class="container">
    <div class="row">
        <div style="margin:auto;" class="col-lg-5 col-sm-10"><div class="item">
            <img src="static/images/cover.png">
        </div> </div>
        <div style="margin:auto;" class="col-lg-5 col-sm-10"><div class="item">
                        <img src="static/images/todocov.png">

        </div></div>

    </div>
</div>
</div>

<p align="center" class="julius" style="color:white;">Code</p>
<div class="items">
<div class="container" style="padding:auto;">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-10">
                <div class="item code-img" style="background-image:url('static/images/task-e.png');">


                    <div class="goto">
                        <a target=”_blank” href="https://github.com/R-o-s-e-B/to-do-list.git"> <div class="button">
                                <img style="margin:auto;" width="30px;" height="30px;" src="static/images/github.png">

                            <p style="margin:auto;">github</p></div></a>

                        <a title="This website might take up to a minute to load. Please be patient." target=”_blank” href="https://task-e-web-ztlq.onrender.com"> <div style="left:50%;" class="button">
                                                    <p style="margin:auto;">Visit website</p></div></a>

                    </div>
            </div> </div>

        <div class="col-lg-4 col-sm-10">
                <div class="item" style="background-image:url('static/images/avoc.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;">
            <div class="goto">
                        <a target=”_blank” href="https://github.com/R-o-s-e-B/paymentwebsite.git"> <div class="button">
                                <img style="margin:auto;" width="30px;" height="30px;" src="static/images/github.png">

                            <p style="margin:auto;">github</p></div></a>

                        <a title="This website might take up to a minute to load. Please be patient." target=”_blank” href="https://test-payment-g733.onrender.com"> <div style="left:50%;" class="button">
                                                    <p style="margin:auto;">Visit website</p></div></a>

                    </div>
            </div></div>

        <div class="col-lg-4 col-sm-10">
                <div class="item" style="background-image:url('static/images/col.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;">
                <div class="goto">
                        <a target=”_blank” href="https://github.com/R-o-s-e-B/Color_palette_generator.git"> <div class="button">
                                <img style="margin:auto;" width="30px;" height="30px;" src="static/images/github.png">

                            <p style="margin:auto;">github</p></div></a>

                        <a title="This website might take up to a minute to load. Please be patient." target=”_blank” href="https://color-palette-pfk4.onrender.com"> <div style="left:50%;" class="button">
                                                    <p style="margin:auto;">Visit website</p></div></a>

                    </div>
           </div></div>

        <div class="col-lg-4 col-sm-10">
                <div class="item" style="background-image:url('static/images/cafe.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;">
            <div class="goto">
                        <a target=”_blank” href="https://github.com/R-o-s-e-B/Cafe_and_coffee_website.git"> <div class="button">
                                <img style="margin:auto;" width="30px;" height="30px;" src="static/images/github.png">

                            <p style="margin:auto;">github</p></div></a>

                        <a title="This website might take up to a minute to load. Please be patient." target=”_blank” href="https://cafe-and-coffee.onrender.com"> <div style="left:50%;" class="button">
                                                    <p style="margin:auto;">Visit website</p></div></a>

                    </div>
            </div></div>

        <div class="col-lg-4 col-sm-10"><a target=”_blank”  href="{{url_for('page', id=1)}}"><div class="item hov" style="background-image:url('static/images/aii.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;"></div> </a></div>
        <div class="col-lg-4 col-sm-10"><a target=”_blank” style="text-decoration:none;color:white;" href="{{url_for('page', id=2)}}"><div class="item hov" style="background-image:url('static/images/aud.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;"></div></a></div>
        <div class="col-lg-4 col-sm-10"><a target=”_blank” style="text-decoration:none;color:white;" href="{{url_for('page', id=3)}}"><div class="item hov" style="background-image:url('static/images/water.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;"></div></a></div>
        <div class="col-lg-4 col-sm-10"><a target=”_blank” style="text-decoration:none;color:white;" href="{{url_for('page', id=4)}}"><div class="item hov" style="background-image:url('static/images/inv.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;"></div></a></div>
        <div class="col-lg-4 col-sm-10"><a target=”_blank” style="text-decoration:none;color:white;" href="{{url_for('page', id=5)}}"><div class="item hov" style="background-image:url('static/images/break.png');color:white;background-repeat:no-repeat;background-size: 100% 115%;"></div></a></div>

    </div>
</div>
</div>


<div class="form">
    <h3 align="center" style="margin:40px;margin-left:30%;margin-bottom:50px;">Contact me</h3>

<form autocomplete="off" action="" method="post">
   {{form.hidden_tag()}}

   <div style="width:60%; margin:0;" class="form-group m-5">
       {{form.name.label()}}
      {{form.name(class="form-control")}}
   </div>
   <div style="width:60%;" class="form-group m-5">
       {{form.email.label()}}
       {{form.email(class="form-control")}}
   </div >
   <div style="width:80%;" class="form-group m-5">
       {{form.body.label()}}
       {{form.body(class="form-control")}}
   </div>
   {{form.submit(class="btn-lg btn-primary m-5 button", onclick="showSuccess()")}}
    <a target="_blank" href="https://instagram.com/rose_bobby_?igshid=NGExMmI2YTkyZg=="> <img src="static/images/insta.png"></a>
        <a target="_blank" href="https://www.linkedin.com/in/rose-bobby-398411182/"> <img src="static/images/link.png"></a>
    <a target="_blank" href="https://www.behance.net/rosebobby"><img src="static/images/beh.png"></a> 
            <img src="static/images/call.png">

    <span id="success_msg">{{sent}}</span>





</form>


</div>


<!--<footer>-->
<!--    <p style="color:white;">Icons</p>-->
<!--<a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icon</a>-->
<!--    <a href="https://www.flaticon.com/free-icon/python_5968350?term=python&page=1&position=5&origin=tag&related_id=5968350https://www.flaticon.com/free-icon/python_5968350?term=python&page=1&position=5&origin=tag&related_id=5968350"-->
<!--&gt;Python icon</a>-->

<!--</footer>-->
<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>